<!DOCTYPE html>
<html>
<head>
    <title> REAL ESTATE</title>
    <link rel = "stylesheet"  type="text/css" href ="../static/css/html.css">
</head>

    <body>
       
        <div class="nav">
            
            <ul>
                <li><a href={{'buy'}} >Buy</a></li>
                <li><a href={{'rent'}}>Rent </a></li>
                <li><a href="#"> Sell</a></li>
                <li><a href={{'login'}}>Log in </a></li>
                <li><a href="#">Help </a></li> 
                
            </ul>
        </div>

        <div class="body">
            <h1>The Simplest<br>Way to Find Property</h1>
            <p>A small river named Dudien flows by their place and supplies it with the necessary regeliafia it is a<br>paradisematic country,in which roasted parts </p>
            <input id="search" type="text" placeholder="search location">
            <img class="logo" src="../static/image/logo.png"  height="90px" width="90px" onmouseover="click();">

        </div>
        <script>
            var click = function(){
            document.getElementById("search").style.display="none";
            }
        </script>
    </body>

</html>