<!DOCTYPE html>
<html>
    <head>
        <title> LOG IN</title>
        <link rel = "stylesheet"  type="text/css" href ="login.css">
    </head>
    <body>
        <h2>Enter username and password</h2>
        <form>
        
            <label for="username" id="surname">Username: </label><br>
            <input type="text" class="surname" placeholder="username"><br>
            <label for="password" id="surname">password: </label><br>
            <input type="password" class="surname" placeholder="*******"><br>
    
            <button class="surname">submit</button>
        </form>
       <p>dont have an account? <a href="file:///C:/Users/HP/Desktop/final%20project/login.html"><u>sign in</u></a> here</p>
       <br>
       <p>Go back <a href="file:///C:/Users/HP/Desktop/final%20project/html.final%20project.html"><u>home</u></a></p>
   
    </body>
</html>