<!DOCTYPE html>
<html>
    <head>
        <title>Available Houses for rent</title>
        <link rel = "stylesheet"  type="text/css" href ="../static/css/buy.css">

    </head>
    <body>
        <div class="nav">
            
            <ul>
                <li><a href={{'home'}}>home</a></li>
                <li><a href={{'buy'}}>Buy </a></li>
                <li><a href="#"> Sell</a></li>
                <li><a href="{{'login'}}>Log in </a></li>
                <li><a href="#">Help </a></li> 
                
            </ul>
        </div>

        <div class="row">
            <div class="column"><img class="logo" src="../static/image/9.jpeg" height="500px" width="500px"><br>
                <p>house in oke baale<br>
                contact mrs damilola<br>
                @09033270556</p>
                <br>
                <img class="logo" src="../static/image/15.jpeg" height="500px" width="500px"><br>
                <p>house in oke baale<br>
                contact mrs damilola<br>
                @09033270556</p>
                <br>
                <img class="logo" src="../static/image/10.jpeg" height="500px" width="500px">
                <p>house in oke baale<br>
                    contact mrs damilola<br>
                    @09033270556</p>
               <br>
            </div>
            <div class="column"><img class="logo" src="../static/image/11.jpeg" height="500px" width="500px"><br>
                <p>house in oke baale<br>
                contact mrs damilola<br>
                @09033270556</p>
                <br>
                <img class="logo" src="../static/image/14.jpeg" height="500px" width="500px"><br>
                <p>house in oke baale<br>
                contact mrs damilola<br>
                @09033270556</p>
                <br>
                <img class="logo" src="../static/image/7.jpeg" height="500px" width="500px">
                <p>house in oke baale<br>
                    contact mrs damilola<br>
                    @09033270556</p>
                <br>
            </div>
            <div class="column"><img class="logo" src="../static/image/13.jpeg" height="500px" width="500px"><br>
                <p>house in oke baale<br>
                contact mrs damilola<br>
                @09033270556</p>
                <br>
                <img class="logo" src="../static/image/8.jpeg" height="500px" width="500px"><br>
                <p>house in oke baale<br>
                contact mrs damilola<br>
                @09033270556</p>
                <br>
                <img class="logo" src="../static/image/23.jpg" height="500px" width="500px">
                <p>house in oke baale<br>
                    contact mrs damilola<br>
                    @09033270556</p>
                <br>
            </div>
            
        </div>


    </body>
</html>